apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shipping-db-pvc
  labels:
    app: shipping-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
