apiVersion: v1
kind: Service
metadata:
  name: shipping-service
  labels:
    app: shipping-service
spec:
  type: NodePort
  selector:
    app: shipping-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8005
      nodePort: 30005  # External access port
      name: http
---
apiVersion: v1
kind: Service
metadata:
  name: shipping-db
  labels:
    app: shipping-db
spec:
  type: ClusterIP
  selector:
    app: shipping-db
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
      name: postgres
